# =========================
# Environment & Secrets
# =========================
.env
.env.*

# =========================
# Python Cache & Bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Logs & Databases
# =========================
*.log
*.sqlite3

# =========================
# OS & IDE Files
# =========================
.DS_Store
.vscode/
.idea/
